/*MOBILE HORIZONTAL*/
@media only screen and (max-width:750px) {
	
	.lips {
		display: none;
	}

	#shipping {
		font-size: 14px;
		padding-bottom: 2%;
	}

	.navbar-header {
		background-color: #FEDCD2;
	}

	#regNav {
		width: 35%;
		float: right;
		padding: 0%;
	}	

	.navbar-toggle.c {
		width: 17.5%;
		margin-top: 17%;
		margin-right: 20%;
		margin-bottom: 0%;
	}

	#logo {
		margin-bottom: 4%;
	}

	#testing {
		padding: 0%;
	}

	a {
		font-size: 35px;
	}

	h1 {
		display: inline-block;
		width: 65%;
		padding-top: 0%;
		padding-left: 7%;
		margin-top: 2%;
		margin-bottom: 0%;
		padding-bottom: 1%;
		border-bottom: none;
		text-align: justify;
	}

	.jumbotron {
		height: 600px;
	}

	#jumboContent {
		margin-left: 5%;
		padding: 0%;
	}

	#callToAction {
		font-size: 18px;
	}

	h2 {
		font-size: 32px;
		padding-bottom: 1%;
	}

	#myModal {
		width: 70%;
		margin-left: 15%;
	}
}

@media only screen and (max-width:675px) {
	#myModal {
		width: 80%;
		margin-left: 10%;
	}	

	.navbar-toggle.collapsed.c {
		width: 19%;
	}

/*MOBILE VERTICAL*/
@media only screen and (max-width:500px) {

	/*.navbar-toggle {
		margin-top: 60%;
	}*/

	.navbar-toggle.c {
		margin-top: 35%;
	}

	h1 {
		width: 65%;
		margin: 0%;
		/*padding: 0%;*/
		padding-top: 5%;
		font-size: 50px;
	}

	a {
		font-size: 20px;
	}

	h2 {
		margin-bottom: 9%;
		text-align: center;
	}

	#shopBtn {
		width: 30%;
		margin-left: 35%;
	}

	.jumbotron {
		width: 100%;
		background-color: #FEDCD2;
		height: 400px;
		margin-top: 0%;
	}

	#jumboContent {
		width: 60%;
		margin-top: 0%;
		margin-left: 0%;
		padding-left: 0%;
	}

	#callToAction {
		font-size: 13px;
		color: black;
	}

	#shopBtn {
		width: 50%;
		margin-left: 0%;
	}
		
	footer {
		border-top: 1px solid #F9BE02;
	}
	
	#modalHeader {
		font-size: 27px;
	}

	.labels {
		font-size: 15px;
	}

	#submitBtn {
		font-size: 15px;
	}

	#modalCloseBtn {
		font-size: 15px;
	}

	::-webkit-input-placeholder {
	   	font-size: 15px!important;
	}

	input {
	   	font-size: 15px!important;
	}

	textarea {
		font-size: 15px!important;
	}
}







